@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed:wght@300&display=swap');

.listado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .formu {
    background-color: white;
    width: 900px;
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
td {
  width: 480px;
  max-width: 480px;
  overflow: hidden;
}
.submitBoton {
  background-color: #4CAF50; /* verde */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonPagado {
  background-color: #4CAF50; /* verde */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonEliminar {
  background-color: #f44336; /* Rojo */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.submitBotonPass {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonClose {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonFactura {
  background-color: #ff5e00;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonCerrar {
  background-color: #ffd000ab;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.submitBotonPagado:hover {
  background-color: #2f00ff;
  transform: translateY(2px);
  color: rgb(255, 255, 255);

}
.submitBotonCerrar:hover {
  background-color: #ffd900;
  transform: translateY(2px);
  color: rgb(255, 255, 255);

}
.submitBotonFactura:hover {
  background-color: #1100ff;
  transform: translateY(2px);
  color: rgb(255, 255, 255);

}
.submitBoton:hover {
  background-color: #1100ff;
  transform: translateY(2px);
}
.submitBotonEliminar:hover {
  background-color: #1100ff;
  transform: translateY(2px);
}
.submitBotonPass:hover {
  background-color: #1100ff;
  transform: translateY(2px);
}
.submitBotonClose:hover {
  background-color: #1100ff;
  transform: translateY(2px);
}
table {
  margin: 1%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 99%;
}

td,th {
  border: 1px solid #d6d6d6;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

}