.signupFrm {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.form {
  text-align: center;
  background-color: white;
  width: 500px;
  height: 600px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}